* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: #000 #43A047;
    scrollbar-width: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #43A047;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

body {
    margin: 0;
    padding: 0;
}

/* .container {
    padding: 20px 120px;
} */

.wrapper {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

.active {
    font-weight: bold;
}

.button {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.privacy {
    text-decoration: none;
    color: inherit;
}

#search-error {
    position: absolute;
    top: -20px;
    right: 0;
    color: #43A047;
    font-size: 12px;
}

.css-dlm2wm-MuiButtonBase-root-MuiButton-root:hover {
    background-color: none !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}